body {
  margin: 0;
}

@-webkit-keyframes max-min {
  0%,
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@keyframes max-min {
  0%,
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@-webkit-keyframes max-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }

  50% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes max-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }

  50% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.feedback-widget {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  right: 40px;
  bottom: 90px;
  z-index: 1000;
}
.feedback-widget *,
.feedback-widget *::before,
*::after {
  box-sizing: border-box;
}
.feedback-widget svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.feedback-widget__btn {
  -webkit-animation: max-min 3.5s infinite linear;
  animation: max-min 3.5s infinite linear;
}
.feedback-widget__btn-circle,
.feedback-widget__btn-circle::before {
  display: block;
  border: 1px solid rgba(97, 31, 15, 1);
  border-radius: 50%;
}
.feedback-widget__btn-circle {
  position: absolute;
  margin: -7px;
  width: 54px;
  height: 54px;
  -webkit-animation: max-out 3.5s infinite linear;
  animation: max-out 3.5s infinite linear;
}
.feedback-widget__btn-circle::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 46px;
  height: 46px;
}
.feedback-widget__list {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 54px;
  width: 60px;
  z-index: -10;
  visibility: hidden;
}
.active .feedback-widget__list {
  visibility: visible;
}

.feedback-widget__btn,
.feedback-widget__link {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  right: 30px;
  width: 54px;
  height: 54px;
  background-color: rgba(97, 31, 15, 0.7);
  border: 7px solid rgba(97, 31, 15, 0.8);
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.feedback-widget__link {
  opacity: 0;
}

.feedback-widget.active .feedback-widget__btn,
.feedback-widget.active .feedback-widget__btn-circle,
.feedback-widget.active .feedback-widget__btn-circle::before {
  animation: none;
  -webkit-animation: none;
}
.feedback-widget.active .feedback-widget__link {
  margin-bottom: 5px;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}
.feedback-widget.active .feedback-widget__link:hover {
  transform: rotateZ(270deg);
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
}
.feedback-widget__close {
  display: none;
}
.feedback-widget.active .feedback-widget__open {
  display: none;
}
.feedback-widget.active .feedback-widget__close {
  display: flex;
}
.feedback-widget__link--phone svg {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 1280px) {
  .feedback-widget {
    right: 90px;
    bottom: 120px;
  }
}

/* Это фон секций */
.one {
  height: 1600px;
  background-color: #a56654;
}
.two {
  height: 1600px;
  background-color: #fff9eb;
}
.three {
  height: 1600px;
  background-color: #f2d8bf;
}
